body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('caminho/da/imagem.jpg'); /* Altere para o caminho da sua imagem */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    text-align: center;
}


header {
    background-color: #28a745;
    color: white;
    padding: 15px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.card a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #28a746;
    font-weight: bold;
}