<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>IFPB</title>
     <link rel="stylesheet" href="../static/cadstyle.css">
   </head>

   <body>

    <div class="container">

     <header>

        <div class="logo">
          HV-ASA - IFPB

        </div>
     </header>
<main>
        <div class="informacoes">
            <form id="form" action="/cadastro" method="post">
              <a><b>Cadastro:</b></a>
              <br>
              <label>Nome:</label><input type="text" name="nome" placeholder="Ex: Maria Vivian Rodrigues" required>
              <br>
              <label>Email:</label><input type="text" name="email" placeholder="Ex: seuemail@gmail.com" required>
              <br>
              <label>Senha:</label><input type="password" name="senha" placeholder="Sua senha" required>
              <br>
              <button onclick="entrar()" type="submit"> Cadastrar </button>


            </form>

            <p class="mensagem">{{mensagem}} </p>
            <a href="{{ url_for('pagina_login') }}" class="btn-custom">Voltar</a>

        </div>

</main>

   </div>

     <script src="js/cadscript.js"> </script>

   </body>
</html>