<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ClínicaVet</title>

   <link rel="stylesheet" href="../static/iniciostyle.css">

</head>

<body>




    <header>

        <div class="logo">

            <h1>HV-ASA Pet Saúde<img src="../static/imagens/cacho.jpg"></spa></h1></span></h1>

        </div>


        <div class="sodivcial-icons">

            <a href="#"><img src="facebook.png" alt="Facebook"></a>
            <a href="#"><img src="instagram.png" alt="Instagram"></a>
            <a href="#"><img src="youtube.png" alt="YouTube"></a>

        </div>

      <a href="{{ url_for('pagina_login') }}" class="login-button">
    <button type="button">Login</button>
  </a>

    </header>

    <section class="banner">

        <div class="slider">

             <img src="../static/imagens/cacho.jpg"> alt="Cachorro e Gato">

        </div>





      <section class="informacoes-clinica">

        <h2>Sobre a Clínica</h2>

        <p>A HV-ASA Pet Saúde oferece cuidados veterinários de alta qualidade para o seu pet. Nosso objetivo é garantir a saúde e o bem-estar dos animais com serviços especializados e atendimento personalizado.</p>

        <p>Contamos com uma equipe de veterinários qualificados e infraestrutura moderna para tratar diversas condições de saúde. Estamos localizados em um ambiente acolhedor e preparado para atender cães, gatos e outros animais de estimação.</p>


    </section>

    </section>

<div class="beneficios">
    <div class="beneficio">
        <img src="../static/imagens/relo.png" alt="Ícone de dispositivo">
        <h3>Funcionamento por ordem de chegada</h3>
        <p>Disponibilizamos 2 fichas pela manhã e 2 fichas pela tarde</p>
    </div>

    <div class="beneficio">
        <img src="../static/imagens/inovacao.png" alt="Ícone de estrela">
        <h3>Atendimento Gratuito</h3>
        <p>Consulte seu animal de estimação sem pagar nada</p>
    </div>

    <div class="beneficio">
        <img src="../static/imagens/pata gato.jpg" alt="Ícone de pata de animal">
        <h3>Horário de Funcionamento</h3>
        <p>Funcionamos de segunda a sexta, das 7h as 17h</p>
    </div>
</div>



    <section class="banner-footer">

        <img src="banner-footer.jpg" alt="Banner Rodapé">

    </section>

    <footer>

        <p>© 2025 HV-ASA Pet Saúde.</p>

    </footer>

</body>

</html>

