<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ClínicaVet</title>

   <link rel="stylesheet" href="../static/iniciostyle.css">

</head>

<body>




    <header>

        <div class="logo">

            <h1>HV-ASA <img src="../static/imagens/kiki1.jpg"></h1>

        </div>


        <div class="sodivcial-icons">

           <a href="https://www.instagram.com/hv_asa_oficial?igsh=MWUwM3Jzc3IxbXI3NA=">Sobre HV-ASA</a>
           <a href="https://www.instagram.com/hv_asa_oficial?igsh=MWUwM3Jzc3IxbXI3NA=">Instagram</a>
           <a href="https://www.instagram.com/hv_asa_oficial?igsh=MWUwM3Jzc3IxbXI3NA=">YouTube</a>

        </div>

      <a href="{{ url_for('pagina_login') }}" class="login-button">
    <button type="button">Login</button>
  </a>

    </header>

    <div class="banner">

        <div class="slider">

             <img src="../static/imagens/banne.jpg">

        </div>


   </div>


<div class="beneficios">
    <div class="beneficio">
        <img src="../static/imagens/relo.png" alt="Ícone de dispositivo">
        <h3>Funcionamento por ordem de chegada</h3>
        <p>Disponibilizamos 2 fichas pela manhã e 2 fichas pela tarde</p>
    </div>

    <div class="beneficio">
        <img src="../static/imagens/gati.jpg" alt="Ícone de estrela">
        <h3>Atendimento Gratuito</h3>
        <p>Consulte seu animal de estimação sem pagar nada</p>
    </div>

    <div class="beneficio">
        <img src="../static/imagens/pata gato.jpg" alt="Ícone de pata de animal">
        <h3>Horário de Funcionamento</h3>
        <p>Funcionamos de segunda a sexta, das 7h as 17h</p>
    </div>
</div>

 <div class="conteiner">
    <div class="card">
        <h2>Sobre a Clínica</h2>

        <p>A HV-ASA oferece cuidados veterinários de alta qualidade para o seu pet. Nosso objetivo é garantir a saúde e o bem-estar dos animais com serviços especializados e atendimento personalizado.</p>

        <p>Contamos com uma equipe de veterinários qualificados e infraestrutura moderna para tratar diversas condições de saúde. Estamos localizados em um ambiente acolhedor e preparado para atender cães, gatos e outros animais de estimação.</p>


    </div>

      <div class="card">

        <h2>Sobre a Clínica</h2>

        <p>A HV-ASA oferece cuidados veterinários de alta qualidade para o seu pet. Nosso objetivo é garantir a saúde e o bem-estar dos animais com serviços especializados e atendimento personalizado.</p>

        <p>Contamos com uma equipe de veterinários qualificados e infraestrutura moderna para tratar diversas condições de saúde. Estamos localizados em um ambiente acolhedor e preparado para atender cães, gatos e outros animais de estimação.</p>


    </div>
  </div>







    <footer>

        <p>© 2025 HV-ASA Pet Saúde.</p>

    </footer>

</body>

</html>

