<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="../static/userstyle.css">
</head>
<body>
    <header>
        <h1>Lista de Usuários</h1>
    </header>

    <main>
        <table border="1">
            <thead>
                <tr>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in lista %}
                <tr>
                    <td>{{ usuario[0] }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
         <a href="/voltar" class="btn-custom">Voltar</a>
    </main>
</body>
</html>
