<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>login</title>
     <link rel="stylesheet" href="../static/loginstyle.css">
   </head>

   <body>

    <div class="container">


     <header>

        <div class="logo">
         HV-ASA - IFPB

        </div>

     </header>


        <div class="cont">
        <div class="informacoes">
            <form action="/login" method="post">
            <a><b>Login</b></a>
            <label>E-mail:</label><input type="email" name="email" placeholder="Ex: seuemail@gmail.com" required>
            <br>
            <label>Senha:</label><input type="password"  name="senha" placeholder="Sua senha" required>
            <br>
            <button onclick="entrar()" type="submit"> Entrar </button>
            <br>
            <p>Ainda não é cadastrado?<a href="/cadastro">  Clique aqui </a></p>
            </form>

            <p class="mensagem">{{mensagem}} </p>
            <a href="{{ url_for('pageprincipal') }}" class="btn-custom">Voltar</a>

        </div>




   </div>
        <script src="js/iscript.js"> </script>
 </body>
</html>